<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="Shortcut" />
      <ComponentRef Id="FileAssociation" />
    </ComponentGroup>
    
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\Mnemosyne\bin\$(var.Configuration)\$(var.Platform)\">
      
      <Component Id="Shortcut" Guid="{1523BCC8-00E7-419E-B1AA-8C984BFB7EDD}">
        <RegistryValue Id="ShortcutRegKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="ShortcutKey" Value="1" Type="integer" KeyPath="yes" />
        <Shortcut Id="ProgramMenuShortcut" Name="!(loc.ProductName)" Target="[INSTALLFOLDER]\Mnemosyne.exe" Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" />
      </Component>
      
      <Component Id="FileAssociation" Guid="{11670AAE-3D5C-4390-800F-A04EA36F8115}">
        <RegistryValue Id="FileAssociationRegKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductFolderName)" Name="FileAssociationKey" Value="1" Type="integer" KeyPath="yes" />
        <Extension Id="mnem" ContentType="application/mnem">
          <Verb Id="open" Command="Open" TargetFile="fil655F38441A336FA44B814A63DF5A1C02" Argument="%1" />
        </Extension>
      </Component>

    </DirectoryRef>
  
  </Fragment>
</Wix>
